html, body{
    width: 100%;
    height: 100vh;
    margin: 0;
}

#menuBar{
    font-size: 20px;
    display: grid;
    grid-template-columns: 196px 1fr 150px 150px 150px;
    text-align: center;
    border-bottom: 1px black solid;
    width: auto;
    padding: 10px;
    padding-bottom: 20px;
    place-items: center;
    border: 5px blue solid;
}

#screen{
    display: grid;
    grid-template-rows: 110px 90vh;
    border: green 5px solid;
}

h1{
    font-size: 60px;
    display: inline;
    padding-left: 30px;
    padding-top: 30px;
}

a{
    text-decoration: none;
}

.topsubject{
    font-size: 20px;
    margin: 0;
    padding-bottom: 30px;
}

.subject{
    font-size: 5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: black;
    margin: 0;
}

p{
    font-size: 20px;
    padding-top: 50px;
    margin: 0;
}

@media(max-width: 950px){
    .direct{
        display: None;
    }
    #menuBar{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .subject{
        font-size: 3rem;
    }
}