#menuBar{
    font-size: 40px;
    display: grid;
    grid-template-columns: 196px 1fr 250px 250px 250px;
    text-align: center;
    border-bottom: 1px black solid;
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
}

h1{
    font-size: 60px;
    display: inline;
    padding-left: 30px;
    padding-top: 30px;
}

a{
    text-decoration: none;
}

.topsubject{
    font-size: 20px;
    margin: 0;
}

.subject{
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    background-color: black;
    margin: 0;
}




@media(max-width: 950px){
    .direct{
        display: None;
    }
    #menuBar{
        text-align: center;
        grid-template-columns: 1fr;
    }
}